.left
  %span.heading Upcoming events

  .post
    .date
      %span.number 13
      %span.month Jan
    .www
      %span.event-title IEEE Officer Ski Retreat
      .details
        %span.event-location
          %span.icon.icon-location
          Squaw Valley Resort
        %span.event-time
          %span.icon.icon-heart
          Saturday, 10 a.m. - 8 p.m.
        %p
          Yippiyo ipsum yo mamma sit da bomb, consectetuer adipiscing elit. Nullizzle ghetto velizzle, sheezy volutpat, pimpin' owned, gangster vizzle, da bomb. 

  .post
    .date
      %span.number 7
      %span.month Sept
    .www
      %span.event-title Volleyball and BBQ Social
      .details
        %span.event-location
          %span.icon.icon-location
          Soda Hall Volleyball Court
        %span.event-time
          %span.icon.icon-heart
          Saturday, 4 p.m. - 7 p.m.
        %p
          Phasellizzle interdum cool mah nizzle. Doggy shut the shizzle up adipiscing fo shizzle mah nizzle fo rizzle, mah home g-dizzle. I'm in the shizzle rizzle est. Check it out sapien massa, mah nizzle nizzle, accumsizzle fizzle, fermentizzle quizzle, crunk. My shizz nizzle . Etizzle rutrum crazy ante. Maurizzle bling bling.

.right
  %span.heading Photos