.left
  %span.heading.blue Vivek Subramanian
  %br
  %br

  %p
    Yo metus mah nizzle, luctizzle izzle, tristique shiznit, sollicitudizzle izzle, fo shizzle. Donec pharetra, rizzle egestizzle facilisis malesuada, neque sizzle consequat velizzle, i saw beyonces tizzles and my pizzle went crizzle dizzle erizzle izzle purus. Dope i'm in the shizzle taciti sociosqu dope litora torquent pizzle conubia we gonna chung, gangster bling bling hymenizzle. That's the shizzle maurizzle orci, dang crunk, iaculizzle vel, accumsan funky fresh, go to hizzle.

  %br

  %p
    Things its fo rizzle my shizz izzle fo shizzle mah nizzle fo rizzle, mah home g-dizzle interdizzle aliquam. Quisque posuere. Sizzle crazy ante. Dizzle leo pede, crackalackin shizzle my nizzle crocodizzle, condimentum ut, shiznit quis, massa. Vestibulum feugiat. Ut brizzle shizznit leo. Brizzle vulputate, orci a suscipit vulputate, get down get down nizzle owned boofron, nizzle eleifend check it out nulla nizzle metus.

  %br

  %p
    To find out more about Professor Subramanian, please visit his 
    %a{:href => "http://www.ieee.org"} website
    \.

.right
  = image_tag('advisor.png')