.left
  %span.heading.blue Who are we?
  %br
  %br

  %p
    The Institute of Electrical and Electronics Engineers is an international organization with over 350,000 members. The UC Berkeley   IEEE student branch was established in 1912 and is part of Region 6 (US - West) of the IEEE national branch. As one of the most   active EECS student organization on campus, we aim to promote professional awareness, encourage academic growth, and organize social activities within the EECS community. 

  %br

  %p
    Please visit 
    %a{:href => "http://www.ieee.org"}
      www.ieee.org
    to explore one of the best websites for electrical engineers and those interested in the field.