// Place all the styles related to the Officer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.text-field {
  width: 200px;
  height: 30px;
  padding: 0 10px 0 10px;
  margin: 0px;
  
  font-family: inherit;
  border: 2px solid #98A1AA; 
}

button.icon {
  border: 0px;
  background-color: #98A1AA;
  color: #FFFFFF;
  margin-left: -5px;
  cursor: pointer;

  height: 34px;
  width: 34px;
}

.input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;

  .add-on {
    display: inline-block;
    width: 26px;
    height: 30px;
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    background-color: #98A1AA;
    border: 2px solid #98A1AA;
    color: #FFFFFF;
  }

  input {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
  }
}

.container {
  margin-left: 30px;
  color: #98A1AA;

  span.separator {
    margin: 0 10px 0 10px;
    font-size: 25px;
  }
}

form {
  width: auto;
  //color: #98A1AA;
  //margin-left: 30px;

  .text-button {
    font-family: 'OpenSansSemibold';
    border: 0px;
    background: #FFFFFF;
    color: #98A1AA;
    font-size: 18px;
    cursor: pointer;
    padding: 0px;
    text-decoration: none;

    &:hover {
      color: #2F3337;
    }
  }
}